<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AvenueTech</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>EmailController</servlet-name>
    <servlet-class>controller.EmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailController</servlet-name>
    <url-pattern>/EmailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachResumeController</display-name>
    <servlet-name>AttachResumeController</servlet-name>
    <servlet-class>controller.AttachResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachResumeController</servlet-name>
    <url-pattern>/AttachResumeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDataController</display-name>
    <servlet-name>AddDataController</servlet-name>
    <servlet-class>controller.AddDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDataController</servlet-name>
    <url-pattern>/AddDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReportController</display-name>
    <servlet-name>GenerateReportController</servlet-name>
    <servlet-class>controller.GenerateReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReportController</servlet-name>
    <url-pattern>/GenerateReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHeroImage</display-name>
    <servlet-name>UploadHeroImage</servlet-name>
    <servlet-class>controller.UploadHeroImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHeroImage</servlet-name>
    <url-pattern>/UploadHeroImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeHeroImageController</display-name>
    <servlet-name>ChangeHeroImageController</servlet-name>
    <servlet-class>controller.ChangeHeroImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeHeroImageController</servlet-name>
    <url-pattern>/ChangeHeroImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNewsController</display-name>
    <servlet-name>UploadNewsController</servlet-name>
    <servlet-class>controller.UploadNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNewsController</servlet-name>
    <url-pattern>/UploadNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNewController</display-name>
    <servlet-name>UploadNewController</servlet-name>
    <servlet-class>controller.UploadNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNewController</servlet-name>
    <url-pattern>/UploadNewController</url-pattern>
  </servlet-mapping>
</web-app>
